
div.body-wrapper {
    width: 100%;
    margin: 3.125rem auto 0 auto;
  }
  
  @media (min-width: 576px) {
      div.body-wrapper {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
      div.body-wrapper {
      max-width: 720px;
    }
  }
  
  .header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
  }
  
  .description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }
  